{% extends "admin/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Reset</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				{% with form = Forms.config.ResetInstanceForm() %}
				<form method="POST" id="reset-ctf-form">
					<div class="alert alert-danger" role="alert">
						<p>
                            重置 CTFd 实例允许您批量删除数据。
						</p>

						<p>
                            重置您的 CTFd 实例将<strong>永久</strong>删除所有数据 .
						</p>

						<p>
                            重置之前请仔细考虑，因为不会进行自动备份，并且所有选定的数据都将丢失。
						</p>

						<span>
							<strong>
								创建您需要的所有数据的备份-> <a href="{{ url_for('admin.config', _anchor='backup') }}">创建 CTFd 导出</a>
							</strong>
						</span>
					</div>

					<hr>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.accounts(class="form-check-input", autocomplete="off") }}
							{{ form.accounts.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							删除所有用户和团队帐户及其关联信息<br>
							<small>(Users, Teams, Submissions, Tracking)</small>
						</span>
					</div>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.submissions(class="form-check-input", autocomplete="off") }}
							{{ form.submissions.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							删除账户获得积分或采取行动的所有记录<br>
							<small>(Submissions, Awards, Unlocks, Tracking)</small>
						</span>
					</div>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.challenges(class="form-check-input", autocomplete="off") }}
							{{ form.challenges.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							删除所有题目和相关数据<br>
							<small>(Challenges, Flags, Hints, Tags, Challenge Files)</small>
						</span>
					</div>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.pages(class="form-check-input", autocomplete="off") }}
							{{ form.pages.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							删除所有页面及其关联文件<br>
							<small>(Pages, Page Files)</small>
						</span>
					</div>

					<div class="form-group pb-2">
						<div class="form-check">
							{{ form.notifications(class="form-check-input", autocomplete="off") }}
							{{ form.notifications.label(class="form-check-label") }}
						</div>
						<span class="text-muted">
							删除所有通知<br>
							<small>(Notifications)</small>
						</span>
					</div>

					<br>

					{{ form.nonce() }}

					{{ form.submit(class="btn btn-warning btn-lg btn-block") }}
				</form>
				{% endwith %}
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block entrypoint %}
	<script defer src="{{ url_for('views.themes', theme='admin', path='js/pages/reset.js') }}"></script>
{% endblock %}
