{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1><b>用户注册</b></h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			{% include "components/errors.html" %}

			{% if integrations.mlc() %}
			<a class="btn btn-secondary btn-lg btn-block" href="{{ url_for('auth.oauth_login') }}">
				Login with Major League Cyber
			</a>

			<hr>
			{% endif %}

			{% with form = Forms.auth.RegistrationForm() %}
			{% from "macros/forms.html" import render_extra_fields %}
			<form method="post" accept-charset="utf-8" autocomplete="off" role="form">
				<div class="form-group">
					<b>用户名</b>
					{{ form.name(class="form-control", value=name) }}
					<small class="form-text text-muted">
                        你的平台昵称
					</small>
                </div>
                <div class="form-group">
                    <b>真实姓名</b>
                    {{ form.sname(class="form-control", value=sname) }}
                    <small class="form-text text-muted">
                        不会公开显示
                    </small>
                </div>
                <div class="form-group">
                    <b>学号</b>
                    {{ form.sid(class="form-control", value=sid) }}
                    <small class="form-text text-muted">
                        不会公开显示
                    </small>
				</div>
				<div class="form-group">
					<b>邮箱地址</b>
					{{ form.email(class="form-control", value=email) }}
					<small class="form-text text-muted">
                        不会公开显示
					</small>
				</div>
				<div class="form-group">
					<b>密码</b>
					{{ form.password(class="form-control", value=password) }}
					<small class="form-text text-muted">
                        用来登陆的密码
					</small>
				</div>
				{{ form.nonce() }}

				{{ render_extra_fields(form.extra) }}

				<div class="row pt-3">
					<div class="col-md-12">
						{{ form.submit(class="btn btn-md btn-primary btn-outlined float-right",value="提交") }}
					</div>
				</div>

				{% if Configs.tos_or_privacy %}
				<div class="row pt-3">
					<div class="col-md-12 text-center">
						<small class="text-muted text-center">
                            注册代表你已经同意
							<a href="{{ Configs.privacy_link }}" rel="noopener" target="_blank">隐私政策</a>
                            和 <a href="{{ Configs.tos_link }}" rel="noopener" target="_blank">服务条款</a>
						</small>
					</div>
				</div>
				{% endif %}
			</form>
			{% endwith %}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
