$fa-font-path: "~@fortawesome/fontawesome-free/webfonts" !default;
$fa-font-display: auto !default;
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "~typeface-lato/index.css";
@import "~typeface-raleway/index.css";

@font-face {
  font-family: 'Unifont';
  src: url('../fonts/unifont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/Hack-Bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
