{% if request.cookies.get('Scr1wCTFdLanguage') == 'en' %}
{% set en = true %}
{% else %}
{% set en = false %}
{% endif %}
{% with form = Forms.teams.TeamEditForm(obj=team) %}
{% from "admin/macros/forms.html" import render_extra_fields %}
<form id="team-info-edit-form" method="POST">
	<div class="form-group">
        {% if en %}
        <label for="name">name</label>
        {% else %}
        {{ form.name.label }}
        {% endif %}
		{{ form.name(class="form-control", autocomplete="off") }}
	</div>
	<div class="form-group">
        {% if en %}
        <label for="email">email</label>
        {% else %}
        {{ form.email.label }}
        {% endif %}
		{{ form.email(class="form-control", autocomplete="off") }}
	</div>
	<div class="form-group">
        {% if en %}
        <label for="password">password</label>
        {% else %}
        {{ form.password.label }}
        {% endif %}
		{{ form.password(class="form-control", autocomplete="off") }}
	</div>
	<div class="form-group">
        {% if en %}
        <label for="website">website</label>
        {% else %}
        {{ form.website.label }}
        {% endif %}
		{{ form.website(class="form-control", autocomplete="off") }}
	</div>
	<div class="form-group">
        {% if en %}
        <label for="affiliation">affiliation/signature</label>
        {% else %}
        <label for="affiliation">所属单位/个性签名</label>
        {% endif %}
		{{ form.affiliation(class="form-control", autocomplete="off") }}
	</div>
	<div class="form-group">
        {% if en %}
        <label for="country">Country or Region</label>
        {% else %}
        {{ form.country.label }}
        {% endif %}
		{{ form.country(class="form-control custom-select", autocomplete="off") }}
	</div>

	{{ render_extra_fields(form.extra) }}

	<div class="form-group">
		<div class="form-check form-check-inline">
			{{ form.hidden(class="form-check-input", autocomplete="off") }}
            {% if en %}
            <label class="form-check-label" for="hidden">hidden</label>
            {% else %}
            {{ form.hidden.label(class="form-check-label") }}
            {% endif %}
		</div>
		<div class="form-check form-check-inline">
			{{ form.banned(class="form-check-input", autocomplete="off") }}
            {% if en %}
            <label class="form-check-label" for="banned">banned</label>
            {% else %}
            {{ form.banned.label(class="form-check-label") }}
            {% endif %}
		</div>
	</div>
	<div id="results">

	</div>
    {% if en %}
    {{ form.submit(id="update-user", class="btn btn-primary btn-outlined float-right modal-action",value="Confirm") }}
    {% else %}
    {{ form.submit(id="update-user", class="btn btn-primary btn-outlined float-right modal-action") }}
    {% endif %}
</form>
{% endwith %}
