{% if request.cookies.get('Scr1wCTFdLanguage') == 'en' %}
{% set en = true %}
{% else %}
{% set en = false %}
{% endif %}
{% with form = Forms.email.SendEmailForm() %}
<form id="user-mail-form" method="POST">
	<div class="form-group">
        {% if en %}
        <label for="title">Title</label>
        {% else %}
        {{ form.title.label }}
        {% endif %}
		{{ form.title(class="form-control") }}
	</div>
	<div class="form-group">
        {% if en %}
        <label for="text">Message</label>
        {% else %}
        {{ form.text.label }}
        {% endif %}
		{{ form.text(class="form-control", rows="15") }}
	</div>
	<div id="results">

	</div>

    {% if en %}
    {{ form.submit(class="btn btn-primary float-right",value="Send") }}
    {% else %}
    {{ form.submit(class="btn btn-primary float-right") }}
    {% endif %}
</form>
{% endwith %}
