<div role="tabpanel" class="tab-pane config-section active" id="appearance">
	<form method="POST" autocomplete="off" class="w-100">
		<div class="form-group">
			<label for="ctf_name">
				Competition Name
				<small class="form-text text-muted">Competition name displayed instead of a logo</small>
			</label>
			<input class="form-control" id='ctf_name' name='ctf_name' type='text' placeholder="CTF Name"
				   {% if ctf_name is defined and ctf_name != None %}value="{{ ctf_name }}"{% endif %}>
		</div>

		<div class="form-group">
			<label>
				CTF Description<br>
				<small class="form-text text-muted">
					Description for the CTF
				</small>
			</label>
			<textarea class="form-control" type="text" id="ctf_description" name="ctf_description" rows="5">{{ ctf_description }}</textarea>
		</div>
        <div class="form-group">
            <label for="bot-ip">
                Bot Address<br>
                <small class="form-text text-muted">
                    the address of QQ-bot
                </small>
                <small class="form-text text-muted">
                    eg. 127.0.0.1:1234
                </small>
            </label>
            <input class="form-control" id='bot-ip' name='bot_ip' type='text'
					{% if bot_ip is defined and bot_ip != None %}value="{{ bot_ip }}"{% endif %}>
        </div>

        <div class="form-group">
            <label for="group-id">
                QQ Group Number<br>
            </label>
            <input class="form-control" id='group-id' name='group_id' type='text'
					{% if group_id is defined and group_id != None %}value="{{ group_id }}"{% endif %}>
        </div>


        <div class="form-group">
            <label for="bot-text">
                解题播报消息格式<br>
                <small class="form-text text-muted">
                    ep. 恭喜%s做出题目%s，默认第一个参数为用户名，第二个参数为题目名称
                </small>
            </label>
            <input class="form-control" id='bot-text' name='bottext' type='text'
				   {% if bottext is defined and bottext != None %}value="{{ bottext }}"{% endif %}>
        </div>

        <div class="form-group">
            <label for="create-text">
                题目可见播报<br>
                <small class="form-text text-muted">
                    ep. %s类题目%s已登入平台，默认第一个参数为类，第二个参数为题目名称
                </small>
            </label>
            <input class="form-control" id='create-text' name='createtext' type='text'
				   {% if createtext is defined and createtext != None %}value="{{ createtext }}"{% endif %}>
        </div>

        <div class="form-group">
            <label for="update-text">
                题目更新播报<br>
                <small class="form-text text-muted">
                    ep. %s类题目%s内容已更新，默认第一个参数为类，第二个参数为题目名称
                </small>
            </label>
            <input class="form-control" id='update-text' name='updatetext' type='text'
				   {% if updatetext is defined and updatetext != None %}value="{{ updatetext }}"{% endif %}>
        </div>

        <div class="form-group">
            <label for="botof">
                Turn on the Bot
            </label>
            <div>
                <select class="form-control custom-select" id="botof" name="bot">
                    <option value=0 {% if bot == 0 %}selected{% endif %}>
                        OFF
                    </option>
                    <option value=1 {% if bot == 1 %}selected{% endif %}>
                        ON
                    </option>
                </select>
            </div>
        </div>

		<button type="submit" class="btn btn-md btn-primary float-right">Update</button>
	</form>
</div>
