<div role="tabpanel" class="tab-pane config-section" id="settings">
	<form method="POST" autocomplete="off" class="w-100">
		<div class="form-group">
			<label>
				题目可见性<br>
				<small class="form-text text-muted">
                    控制用户是否必须登录才能查看题目
				</small>
			</label>
			<select class="form-control custom-select" name="challenge_visibility">
				<option value="public" {% if challenge_visibility == 'public' %}selected{% endif %}>
					公开
				</option>
				<option value="private" {% if challenge_visibility == 'private' %}selected{% endif %}>
					仅登陆
				</option>
				<option value="admins" {% if challenge_visibility == 'admins' %}selected{% endif %}>
					仅管理员
				</option>
			</select>
		</div>

		<div class="form-group">
			<label>
                账户可见性<br>
				<small class="form-text text-muted">
                    控制帐户（用户和团队）是向所有人显示、仅向经过身份验证的用户显示还是仅向管理员显示
				</small>
			</label>
			<select class="form-control custom-select" name="account_visibility">
				<option value="public" {% if account_visibility == 'public' %}selected{% endif %}>
                    公开
				</option>
				<option value="private" {% if account_visibility == 'private' %}selected{% endif %}>
                    仅登陆
				</option>
				<option value="admins" {% if account_visibility == 'admins' %}selected{% endif %}>
                    仅管理员
				</option>
			</select>
		</div>

		<div class="form-group">
			<label>
				得分可见性<br>
				<small class="form-text text-muted">
                    控制是否向公众、登录用户显示解决方案/分数、向所有非管理员隐藏或仅向管理员显示
				</small>
			</label>
			<select class="form-control custom-select" name="score_visibility">
				<option value="public" {% if score_visibility == 'public' %}selected{% endif %}>
					公开
				</option>
				<option value="private" {% if score_visibility == 'private' %}selected{% endif %}>
					仅登陆
				</option>
				<option value="hidden" {% if score_visibility == 'hidden' %}selected{% endif %}>
					隐藏
				</option>
				<option value="admins" {% if score_visibility == 'admins' %}selected{% endif %}>
					仅管理员
				</option>
			</select>
			<small class="form-text text-muted">
                分数可见性是帐户可见性的子集。这意味着，如果帐户对用户可见，则分数可见性将控制他们是否可以看到该用户的分数。如果帐户不可见，则分数可见性无效。
			</small>
		</div>

		<div class="form-group">
			<label>
                注册可见性<br>
				<small class="form-text text-muted">
                    控制是否对所有人启用注册或禁用注册
				</small>
			</label>
			<select class="form-control custom-select" name="registration_visibility">
				<option value="public" {% if registration_visibility == 'public' %}selected{% endif %}>
					公开
				</option>
				<option value="private" {% if registration_visibility == 'private' %}selected{% endif %}>
					隐藏
				</option>
				<option value="mlc" {% if registration_visibility == 'mlc' %}selected{% endif %}>
					仅限MajorLeagueCyber
				</option>
			</select>
		</div>

		<div class="form-group">
			<label>
				暂停<br>
				<small class="form-text text-muted">
                    阻止用户在解除暂停之前提交答案。 题目仍然可见。
				</small>
			</label>
			<div class="form-check pl-0">
				<label>
					<input id="paused" name="paused" type="checkbox" {% if paused %}checked{% endif %}>
					暂停CTF<br>
				</label>
			</div>
		</div>

		<button type="submit" class="btn btn-md btn-primary float-right">更新</button>
	</form>
</div>
