<div role="tabpanel" class="tab-pane config-section" id="sso">
    <form method="POST" autocomplete="off" class="w-100">
        <div class="form-group">
            <label for="server-ip">
                服务器地址<br>
                <small class="form-text text-muted">
                    认证服务器的地址
                </small>
                <small class="form-text text-muted">
                    eg. http://scr1w.dlut.edu.cn/cas/login
                </small>
            </label>
            <input class="form-control" id='sso-server-address' name='sso_server_address' type='text'
                   {% if sso_server_address is defined and sso_server_address != None %}value="{{ sso_server_address }}"{% endif %}>
        </div>

        <button type="submit" class="btn btn-md btn-primary float-right">更新</button>
    </form>
</div>
